In [9]:
# Example: using the dataset you saved
df = pd.read_csv("../Data/dataset.csv")

# Features you want to use
feature_cols = ['runs_batter', 'balls_faced', 'wickets', 'runs_conceded',
                'batting_form', 'bowling_form']  # add other numeric features as needed

# Target variable (next match runs or wickets)
target_col = 'next_match_runs'  # replace with your target

In [20]:
import shutil

# Move new preprocessor to Models folder (overwrite old one)
shutil.move("feature_pipeline.pkl", "../Models/feature_pipeline.pkl")

FileNotFoundError: [WinError 2] The system cannot find the file specified

In [21]:
import os

# List all files in current folder
print(os.listdir())

['02_FeatureEngineering.ipynb', 'dataset.csv', 'ipl_cleaned_data.csv']

In [22]:
import shutil

src = r"C:\Users\K M KALAIPRIYA\Desktop\GITHUB\ipl1\feature_pipeline.pkl"
dst = r"C:\Users\K M KALAIPRIYA\Desktop\GITHUB\ipl1\Cricket-Player-Performance-Prediction---Group-1-\Models\feature_pipeline.pkl"

shutil.move(src, dst)
print("Preprocessor moved successfully!")

Preprocessor moved successfully!

In [12]:
feature_cols = ['runs_batter', 'balls_faced', 'wickets', 'runs_conceded']
target_col = 'next_match_runs'  # or your actual target column

In [23]:
import joblib
preprocessor = joblib.load("../Models/feature_pipeline.pkl")

In [33]:
# Fill missing numeric columns if they don't exist
for col in ['batting_form', 'bowling_form']:
    if col not in X_train.columns:
        X_train[col] = 0

In [13]:
# Example: 3-match rolling average for runs_batter
df['batting_form'] = df.groupby('batter')['runs_batter'].transform(lambda x: x.rolling(3, min_periods=1).mean())

# Example: 3-match rolling average for wickets
df['bowling_form'] = df.groupby('bowler')['wickets'].transform(lambda x: x.rolling(3, min_periods=1).mean())

In [3]:
import os
print(os.getcwd())

c:\Users\K M KALAIPRIYA\Desktop\GITHUB\ipl1\Cricket-Player-Performance-Prediction---Group-1-\note books

In [14]:
feature_cols = ['runs_batter', 'balls_faced', 'wickets', 'runs_conceded', 'batting_form', 'bowling_form']

In [4]:
print(os.listdir())  # Lists all files and folders in current directory

['02_FeatureEngineering.ipynb', 'dataset.csv', 'ipl_cleaned_data.csv']

In [15]:
import pandas as pd
import joblib

# Load dataset
df = pd.read_csv("../Data/dataset.csv")

# Sort by player and match number for proper rolling calculation
df = df.sort_values(['batter', 'match_number'])

# Batting form: rolling average of last 3 matches
df['batting_form'] = df.groupby('batter')['runs_batter'].transform(lambda x: x.rolling(3, min_periods=1).mean())

# Bowling form: rolling average of last 3 matches
df['bowling_form'] = df.groupby('bowler')['wickets'].transform(lambda x: x.rolling(3, min_periods=1).mean())

df.head()

,match_number,batter,team_A,team_B,venue,runs_batter,balls_faced,bowler,wickets,runs_conceded,...,wickets_at_venue,runs_vs_opponent,wickets_vs_opponent,career_runs,career_wickets,career_runs_conceded,next_match_runs,next_match_wickets,batting_form,bowling_form
615,3.0,A Ashish Reddy,4,11,Hyderabad,7.0,4.0,A Ashish Reddy,12.0,21.0,...,14.5,7.000000,15.500000,0.0,0.0,0.0,32.0,11.0,7.000000,12.000000
749,4.0,A Ashish Reddy,5,4,Banglore,32.0,18.0,A Ashish Reddy,11.0,26.0,...,12.0,15.900000,12.888889,7.0,12.0,21.0,14.0,6.0,19.500000,11.500000
995,7.0,A Ashish Reddy,4,5,Hyderabad,14.0,12.0,A Ashish Reddy,6.0,7.0,...,14.5,6.666667,15.500000,39.0,23.0,47.0,13.0,12.0,17.666667,9.666667
1127,8.0,A Ashish Reddy,4,2,Hyderabad,13.0,9.0,A Ashish Reddy,12.0,14.0,...,14.5,13.000000,12.000000,53.0,29.0,54.0,3.0,6.0,19.666667,9.666667
1161,9.0,A Ashish Reddy,5,4,Banglore,3.0,4.0,A Ashish Reddy,6.0,13.0,...,12.0,15.900000,12.888889,66.0,47.0,79.0,13.0,6.0,10.000000,8.000000

In [31]:
print(X_train.columns)

Index(['match_number', 'batter', 'team_A', 'team_B', 'venue', 'runs_batter',
       'balls_faced', 'bowler', 'wickets', 'runs_conceded', 'runs_at_venue',
       'wickets_at_venue', 'runs_vs_opponent', 'wickets_vs_opponent',
       'career_runs', 'career_wickets', 'career_runs_conceded'],
      dtype='object')

In [16]:

feature_cols = ['runs_batter', 'balls_faced', 'wickets', 'runs_conceded', 'batting_form', 'bowling_form']

# Example target: runs in next match (you can replace with wickets if needed)
df['next_match_runs'] = df.groupby('batter')['runs_batter'].shift(-1)
target_col = 'next_match_runs'

# Drop last row per player where target is NaN
df = df.dropna(subset=[target_col])

In [6]:
df = pd.read_csv("../Data/dataset.csv")
preprocessor = joblib.load("../Models/feature_pipeline.pkl")

In [17]:
from sklearn.model_selection import train_test_split

X = df[feature_cols]
y = df[target_col]

# Time-series aware split (no shuffling)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, shuffle=False)

print("Train shape:", X_train.shape, "Test shape:", X_test.shape)

Train shape: (4224, 6) Test shape: (1056, 6)

In [30]:
X_train = train.drop(['next_match_runs', 'next_match_wickets'], axis=1)

In [18]:
from sklearn.preprocessing import StandardScaler
from sklearn.compose import ColumnTransformer

num_features = feature_cols

preprocessor = ColumnTransformer([
    ('num', StandardScaler(), num_features)
])

# Fit on training data
preprocessor.fit(X_train)

# Save preprocessor
joblib.dump(preprocessor, "../Models/feature_pipeline.pkl")

['../Models/feature_pipeline.pkl']

In [7]:
import pandas as pd
import joblib

# Load dataset
df = pd.read_csv("../Data/dataset.csv")

# Load preprocessor
preprocessor = joblib.load("../Models/feature_pipeline.pkl")

df.head()

,match_number,batter,team_A,team_B,venue,runs_batter,balls_faced,bowler,wickets,runs_conceded,runs_at_venue,wickets_at_venue,runs_vs_opponent,wickets_vs_opponent,career_runs,career_wickets,career_runs_conceded,next_match_runs,next_match_wickets
0,0.0,AR Patel,1,2,Eden Gardens,2.0,2.0,AR Patel,24.0,14.0,9.500000,24.166667,7.0000,20.777778,0.0,0.0,0.0,0.0,25.0
1,0.0,DR Smith,8,3,Eden Gardens,57.0,48.0,DR Smith,12.0,17.0,27.750000,15.750000,36.9375,11.166667,163.0,6.0,6.0,62.0,12.0
2,0.0,DR Smith,14,4,Delhi,1.0,3.0,DR Smith,12.0,29.0,33.571429,11.333333,27.0000,10.333333,282.0,18.0,23.0,73.0,6.0
3,0.0,DR Smith,14,5,Banglore,73.0,41.0,DR Smith,6.0,14.0,32.833333,11.000000,23.0000,8.666667,283.0,30.0,52.0,34.0,12.0
4,0.0,DS Kulkarni,3,8,Banglore,10.0,5.0,DS Kulkarni,26.0,46.0,7.333333,20.500000,4.4000,20.304348,0.0,0.0,0.0,3.0,24.0

In [28]:
from sklearn.model_selection import train_test_split

# Sort by match_number to maintain time-series order
player_match = player_match.sort_values('match_number')

# Split: 80% train, 20% test
split_idx = int(len(player_match) * 0.8)
train = player_match.iloc[:split_idx]
test = player_match.iloc[split_idx:]

# Features and target
X_train = train.drop(['next_match_runs', 'next_match_wickets'], axis=1)
y_train = train[['next_match_runs', 'next_match_wickets']]

X_test = test.drop(['next_match_runs', 'next_match_wickets'], axis=1)
y_test = test[['next_match_runs', 'next_match_wickets']]

print(f"Train shape: {X_train.shape}, Test shape: {X_test.shape}")

Train shape: (4526, 17), Test shape: (1132, 17)

In [26]:
# Target: next match runs and wickets
player_match['next_match_runs'] = player_match.groupby('batter')['runs_batter'].shift(-1)
player_match['next_match_wickets'] = player_match.groupby('bowler')['wickets'].shift(-1)

# Drop rows where target is NaN (last match of each player)
player_match = player_match.dropna(subset=['next_match_runs', 'next_match_wickets'])

player_match.head(10)

,match_number,batter,team_A,team_B,venue,runs_batter,balls_faced,bowler,wickets,runs_conceded,runs_at_venue,wickets_at_venue,runs_vs_opponent,wickets_vs_opponent,career_runs,career_wickets,career_runs_conceded,next_match_runs,next_match_wickets
3,0.0,A Kumble,5,4,RSA,1.0,1.0,A Kumble,24.0,18.0,2.666667,22.470588,1.000000,23.833333,0.0,45.0,47.0,1.0,26.0
4,0.0,A Kumble,5,8,Mumbai,1.0,3.0,A Kumble,26.0,32.0,1.000000,23.500000,3.000000,22.200000,1.0,69.0,65.0,1.0,19.0
5,0.0,A Mishra,4,10,Vizag,1.0,3.0,A Mishra,24.0,16.0,2.000000,20.000000,6.055556,21.666667,0.0,0.0,0.0,6.0,24.0
7,0.0,A Mishra,10,3,Vizag,6.0,3.0,A Mishra,24.0,21.0,2.000000,20.000000,6.000000,23.428571,1.0,48.0,32.0,0.0,24.0
8,0.0,A Mishra,10,4,RSA,0.0,1.0,A Mishra,24.0,19.0,5.875000,22.642857,8.666667,21.432432,7.0,72.0,53.0,2.0,25.0
9,0.0,A Mishra,10,7,Mumbai,2.0,5.0,A Mishra,25.0,38.0,12.750000,22.846154,1.333333,23.818182,7.0,96.0,72.0,3.0,13.0
10,0.0,A Mithun,3,5,Chennai,11.0,8.0,A Mithun,12.0,22.0,11.000000,12.000000,5.600000,18.833333,0.0,0.0,0.0,0.0,20.0
15,0.0,A Nehra,3,8,Mumbai,0.0,1.0,A Nehra,27.0,28.0,0.333333,22.210526,1.000000,21.333333,0.0,51.0,79.0,0.0,24.0
24,0.0,A Symonds,3,4,Mumbai,23.0,23.0,A Symonds,25.0,23.0,9.700000,16.857143,27.785714,18.461538,0.0,0.0,0.0,2.0,18.0
25,0.0,A Symonds,5,4,Mumbai,2.0,8.0,A Symonds,18.0,18.0,9.700000,16.857143,27.785714,18.461538,23.0,25.0,23.0,33.0,18.0

In [25]:
# Cumulative runs and wickets for batting
player_match['career_runs'] = player_match.groupby('batter')['runs_batter'].cumsum() - player_match['runs_batter']

# Cumulative wickets and runs conceded for bowling
player_match['career_wickets'] = player_match.groupby('bowler')['wickets'].cumsum() - player_match['wickets']
player_match['career_runs_conceded'] = player_match.groupby('bowler')['runs_conceded'].cumsum() - player_match['runs_conceded']

# Fill NaNs with 0 (for players who only batted or bowled)
player_match[['career_runs','career_wickets','career_runs_conceded']] = player_match[['career_runs','career_wickets','career_runs_conceded']].fillna(0)

player_match.head(10)

,match_number,batter,team_A,team_B,venue,runs_batter,balls_faced,bowler,wickets,runs_conceded,runs_at_venue,wickets_at_venue,runs_vs_opponent,wickets_vs_opponent,career_runs,career_wickets,career_runs_conceded
0,0.0,A Badoni,8,6,Chennai,1.0,7.0,NaN,NaN,NaN,12.000000,0.000000,10.625000,0.000000,0.0,0.0,0.0
1,0.0,NaN,5,3,RSA,NaN,NaN,A Kumble,24.0,31.0,NaN,22.470588,NaN,24.250000,0.0,0.0,0.0
2,0.0,NaN,5,4,Mumbai,NaN,NaN,A Kumble,21.0,16.0,NaN,23.500000,NaN,23.833333,0.0,24.0,31.0
3,0.0,A Kumble,5,4,RSA,1.0,1.0,A Kumble,24.0,18.0,2.666667,22.470588,1.000000,23.833333,0.0,45.0,47.0
4,0.0,A Kumble,5,8,Mumbai,1.0,3.0,A Kumble,26.0,32.0,1.000000,23.500000,3.000000,22.200000,1.0,69.0,65.0
5,0.0,A Mishra,4,10,Vizag,1.0,3.0,A Mishra,24.0,16.0,2.000000,20.000000,6.055556,21.666667,0.0,0.0,0.0
6,0.0,NaN,7,4,Delhi,NaN,NaN,A Mishra,24.0,16.0,NaN,22.431818,NaN,21.432432,0.0,24.0,16.0
7,0.0,A Mishra,10,3,Vizag,6.0,3.0,A Mishra,24.0,21.0,2.000000,20.000000,6.000000,23.428571,1.0,48.0,32.0
8,0.0,A Mishra,10,4,RSA,0.0,1.0,A Mishra,24.0,19.0,5.875000,22.642857,8.666667,21.432432,7.0,72.0,53.0
9,0.0,A Mishra,10,7,Mumbai,2.0,5.0,A Mishra,25.0,38.0,12.750000,22.846154,1.333333,23.818182,7.0,96.0,72.0

In [24]:
# Average runs at each venue
player_match['runs_at_venue'] = player_match.groupby(['batter', 'venue'])['runs_batter'].transform('mean')

# Average wickets at each venue
player_match['wickets_at_venue'] = player_match.groupby(['bowler', 'venue'])['wickets'].transform('mean')

# Average runs against each opponent
player_match['runs_vs_opponent'] = player_match.groupby(['batter', 'team_B'])['runs_batter'].transform('mean')

# Average wickets against each opponent
player_match['wickets_vs_opponent'] = player_match.groupby(['bowler', 'team_B'])['wickets'].transform('mean')

# Fill NaNs with 0
player_match[['wickets_at_venue','wickets_vs_opponent']] = player_match[['wickets_at_venue','wickets_vs_opponent']].fillna(0)

player_match.head(10)

,match_number,batter,team_A,team_B,venue,runs_batter,balls_faced,bowler,wickets,runs_conceded,runs_at_venue,wickets_at_venue,runs_vs_opponent,wickets_vs_opponent
0,0.0,A Badoni,8,6,Chennai,1.0,7.0,NaN,NaN,NaN,12.000000,0.000000,10.625000,0.000000
1,0.0,NaN,5,3,RSA,NaN,NaN,A Kumble,24.0,31.0,NaN,22.470588,NaN,24.250000
2,0.0,NaN,5,4,Mumbai,NaN,NaN,A Kumble,21.0,16.0,NaN,23.500000,NaN,23.833333
3,0.0,A Kumble,5,4,RSA,1.0,1.0,A Kumble,24.0,18.0,2.666667,22.470588,1.000000,23.833333
4,0.0,A Kumble,5,8,Mumbai,1.0,3.0,A Kumble,26.0,32.0,1.000000,23.500000,3.000000,22.200000
5,0.0,A Mishra,4,10,Vizag,1.0,3.0,A Mishra,24.0,16.0,2.000000,20.000000,6.055556,21.666667
6,0.0,NaN,7,4,Delhi,NaN,NaN,A Mishra,24.0,16.0,NaN,22.431818,NaN,21.432432
7,0.0,A Mishra,10,3,Vizag,6.0,3.0,A Mishra,24.0,21.0,2.000000,20.000000,6.000000,23.428571
8,0.0,A Mishra,10,4,RSA,0.0,1.0,A Mishra,24.0,19.0,5.875000,22.642857,8.666667,21.432432
9,0.0,A Mishra,10,7,Mumbai,2.0,5.0,A Mishra,25.0,38.0,12.750000,22.846154,1.333333,23.818182

In [20]:
# Fill NaNs with 0 for stats
player_match['runs_batter'] = player_match['runs_batter'].fillna(0)
player_match['balls_faced'] = player_match['balls_faced'].fillna(0)
player_match['wickets'] = player_match['wickets'].fillna(0)
player_match['runs_conceded'] = player_match['runs_conceded'].fillna(0)

# Sort by player and match_number
player_match = player_match.sort_values(by=['batter', 'match_number'])

# Batting form: rolling average of runs in last 3 matches
player_match['batting_form'] = player_match.groupby('batter')['runs_batter'].rolling(3, min_periods=1).mean().reset_index(0, drop=True)

# Bowling form: rolling average of wickets in last 3 matches
player_match['bowling_form'] = player_match.groupby('bowler')['wickets'].rolling(3, min_periods=1).mean().reset_index(0, drop=True)

player_match.head(10)

,match_number,batter,team_A,team_B,venue,runs_batter,balls_faced,bowler,wickets,runs_conceded,batting_form,bowling_form
2099,3.0,A Ashish Reddy,4,11,Hyderabad,7.0,4.0,A Ashish Reddy,12.0,21.0,7.000000,12.000000
2462,4.0,A Ashish Reddy,5,4,Banglore,32.0,18.0,A Ashish Reddy,11.0,26.0,19.500000,11.500000
3551,7.0,A Ashish Reddy,4,5,Hyderabad,14.0,12.0,A Ashish Reddy,6.0,7.0,17.666667,9.666667
3891,8.0,A Ashish Reddy,4,2,Hyderabad,13.0,9.0,A Ashish Reddy,12.0,14.0,19.666667,9.666667
4254,9.0,A Ashish Reddy,5,4,Banglore,3.0,4.0,A Ashish Reddy,6.0,13.0,10.000000,8.000000
4983,11.0,A Ashish Reddy,4,7,Vizag,13.0,9.0,A Ashish Reddy,6.0,5.0,9.666667,8.000000
5699,13.0,A Ashish Reddy,4,10,Vizag,15.0,8.0,A Ashish Reddy,13.0,16.0,10.333333,8.333333
6042,14.0,A Ashish Reddy,10,4,Delhi,16.0,9.0,NaN,0.0,0.0,14.666667,NaN
7121,17.0,A Ashish Reddy,2,4,Eden Gardens,4.0,5.0,A Ashish Reddy,12.0,15.0,11.666667,10.333333
8911,22.0,A Ashish Reddy,11,4,Mumbai,19.0,15.0,NaN,0.0,0.0,13.000000,NaN

In [21]:
import pandas as pd

# Batting stats per player per match
player_match = df.groupby(['match_number', 'batter', 'team_A', 'team_B', 'venue']).agg({
    'runs_batter': 'sum',            # total runs scored
    'over': 'count'                   # number of balls faced
}).rename(columns={'over': 'balls_faced'}).reset_index()

# Create wickets column for bowling
df['wickets'] = df['wicket_player_out'].notna().astype(int)

# Bowling stats per player per match
bowling_stats = df.groupby(['match_number', 'bowler', 'team_A', 'team_B', 'venue']).agg({
    'wickets': 'sum',
    'runs_total': 'sum'  # runs conceded
}).rename(columns={'runs_total': 'runs_conceded'}).reset_index()

# Merge batting and bowling stats (outer join)
player_match = pd.merge(
    player_match, 
    bowling_stats, 
    left_on=['match_number', 'batter', 'team_A', 'team_B', 'venue'],
    right_on=['match_number', 'bowler', 'team_A', 'team_B', 'venue'], 
    how='outer'
)

player_match.head()

,match_number,batter,team_A,team_B,venue,runs_batter,balls_faced,bowler,wickets,runs_conceded
0,0.0,A Badoni,8,6,Chennai,1.0,7.0,NaN,NaN,NaN
1,0.0,NaN,5,3,RSA,NaN,NaN,A Kumble,24.0,31.0
2,0.0,NaN,5,4,Mumbai,NaN,NaN,A Kumble,21.0,16.0
3,0.0,A Kumble,5,4,RSA,1.0,1.0,A Kumble,24.0,18.0
4,0.0,A Kumble,5,8,Mumbai,1.0,3.0,A Kumble,26.0,32.0

In [22]:

df.columns

Index(['city', 'outcome', 'overs', 'season', 'venue', 'inning', 'over',
       'batter', 'bowler', 'non_striker', 'runs_batter', 'runs_extras',
       'runs_total', 'wicket_kind', 'wicket_player_out', 'year', 'month',
       'day', 'match_number', 'winner', 'team_A', 'team_B', 'decision',
       'winteam', 'wickets'],
      dtype='object')

In [23]:
# Aggregate batting stats per player per match
player_match = df.groupby(['match_number', 'batter', 'team_A', 'team_B', 'venue']).agg({
    'runs_scored': 'sum',      # If you have a 'runs_scored' column
    'balls_faced': 'count',    # Each row = one ball faced
    'fours': 'sum',
    'sixes': 'sum'
}).reset_index()

# Aggregate bowling stats
bowling_stats = df.groupby(['match_number', 'bowler', 'team_A', 'team_B', 'venue']).agg({
    'wickets': 'sum',
    'overs': 'sum',             # Or count balls / 6
    'runs_conceded': 'sum'
}).reset_index()

# Merge batting and bowling stats (optional, if player can bat and bowl)
player_match = pd.merge(player_match, bowling_stats, left_on=['match_number', 'batter', 'team_A', 'team_B', 'venue'],
                        right_on=['match_number', 'bowler', 'team_A', 'team_B', 'venue'], how='outer')

player_match.head()

KeyError: "Column(s) ['balls_faced', 'fours', 'runs_scored', 'sixes'] do not exist"

In [ ]:
import pandas as pd

df = pd.read_csv(r"C:\Users\K M KALAIPRIYA\Desktop\GITHUB\ipl1\Cricket-Player-Performance-Prediction---Group-1-\note books\ipl_cleaned_data.csv")
df.head()

,city,outcome,overs,season,venue,inning,over,batter,bowler,non_striker,...,wicket_player_out,year,month,day,match_number,winner,team_A,team_B,decision,winteam
0,Chandigarh,"{'by': {'wickets': 6}, 'winner': 'Kings XI Pun...",20,2016.0,Mohali,Rising Pune Supergiants,0,AM Rahane,Sandeep Sharma,F du Plessis,...,playing,2016.0,4.0,17.0,10.0,1,1,12,bat,0
1,Chandigarh,"{'by': {'wickets': 6}, 'winner': 'Kings XI Pun...",20,2016.0,Mohali,Rising Pune Supergiants,0,AM Rahane,Sandeep Sharma,F du Plessis,...,playing,2016.0,4.0,17.0,10.0,1,1,12,bat,0
2,Chandigarh,"{'by': {'wickets': 6}, 'winner': 'Kings XI Pun...",20,2016.0,Mohali,Rising Pune Supergiants,0,AM Rahane,Sandeep Sharma,F du Plessis,...,playing,2016.0,4.0,17.0,10.0,1,1,12,bat,0
3,Chandigarh,"{'by': {'wickets': 6}, 'winner': 'Kings XI Pun...",20,2016.0,Mohali,Rising Pune Supergiants,0,AM Rahane,Sandeep Sharma,F du Plessis,...,playing,2016.0,4.0,17.0,10.0,1,1,12,bat,0
4,Chandigarh,"{'by': {'wickets': 6}, 'winner': 'Kings XI Pun...",20,2016.0,Mohali,Rising Pune Supergiants,0,AM Rahane,Sandeep Sharma,F du Plessis,...,playing,2016.0,4.0,17.0,10.0,1,1,12,bat,0

In [ ]:
import pandas as pd

# Load cleaned dataset using full path
df = pd.read_csv(r"C:\Users\K M KALAIPRIYA\Desktop\GITHUB\ipl1\Cricket-Player-Performance-Prediction---Group-1-\note books\ipl_cleaned_data.csv")

df.head()

,city,outcome,overs,season,venue,inning,over,batter,bowler,non_striker,...,wicket_player_out,year,month,day,match_number,winner,team_A,team_B,decision,winteam
0,Chandigarh,"{'by': {'wickets': 6}, 'winner': 'Kings XI Pun...",20,2016.0,Mohali,Rising Pune Supergiants,0,AM Rahane,Sandeep Sharma,F du Plessis,...,playing,2016.0,4.0,17.0,10.0,1,1,12,bat,0
1,Chandigarh,"{'by': {'wickets': 6}, 'winner': 'Kings XI Pun...",20,2016.0,Mohali,Rising Pune Supergiants,0,AM Rahane,Sandeep Sharma,F du Plessis,...,playing,2016.0,4.0,17.0,10.0,1,1,12,bat,0
2,Chandigarh,"{'by': {'wickets': 6}, 'winner': 'Kings XI Pun...",20,2016.0,Mohali,Rising Pune Supergiants,0,AM Rahane,Sandeep Sharma,F du Plessis,...,playing,2016.0,4.0,17.0,10.0,1,1,12,bat,0
3,Chandigarh,"{'by': {'wickets': 6}, 'winner': 'Kings XI Pun...",20,2016.0,Mohali,Rising Pune Supergiants,0,AM Rahane,Sandeep Sharma,F du Plessis,...,playing,2016.0,4.0,17.0,10.0,1,1,12,bat,0
4,Chandigarh,"{'by': {'wickets': 6}, 'winner': 'Kings XI Pun...",20,2016.0,Mohali,Rising Pune Supergiants,0,AM Rahane,Sandeep Sharma,F du Plessis,...,playing,2016.0,4.0,17.0,10.0,1,1,12,bat,0

In [ ]:
import os
os.getcwd()

'c:\\Users\\K M KALAIPRIYA\\Desktop\\GITHUB\\ipl1\\Cricket-Player-Performance-Prediction---Group-1-\\note books'

In [ ]:
import pandas as pd
import numpy as np